:root {
    --container: 1024px;
}

body {
    margin: 0;
    padding: 0;
    font-family: system-ui;
    ;
    box-sizing: border-box;
}

#top-menu {
    background: #333333;
    height: 40px;
    position: fixed;
    z-index: 999;
    width: 100%;
}

#top-menu ul {
    display: flex;
    justify-content: center;
    gap: 4rem;
    padding-top: 13px;
    padding-bottom: 6px;
    align-items: center;
    margin: 0 auto;
    list-style-type: none;
}

#top-menu a {
    font-weight: bold;
    text-decoration: none;
    color: white;
}

#top-menu a:hover {
    color: aqua
}

.container {
    max-width: var(--container);
    margin: 0 auto;
}


#banner {
    min-height: 35rem;
    background: url(../assets/banner.png) center no-repeat;
    background-color: #141c2b;
}

.hero-section {
    display: flex;
    justify-content: flex-end;
}

.call-to-action-btn {
    padding: 15px 30px;
    border-radius: 50px;
    border: 2px solid #1fb5c6;
    background-color: #151c2b;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.call-to-action-btn:hover {
    color: white;
    background-color: black;
}


.banner-text {
    max-width: var(--container);
    margin: 0 auto;
    color: white;
    padding: 7rem 0;
    text-align: right;
    position: relative;
}

.banner-text h2 {
    text-shadow: 4px 3px 1px #f56141;
    font-size: 3em;
}

.banner-text p {
    padding: 3px 0;
    text-shadow: 4px 3px 1px #f56141;
    font-size: 1.5em;
}

#main-content section:nth-child(even) {
    background-color: #151c2b;
}

section {
    padding: 13px;
}

section>p {
    padding: 12px 0;
}

/*  Portfolio Cards  */

.cards-container {
    display: flex;
    padding: 2rem 0;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

}

.card {
    border: 1px solid #1c1313;
    width: 210px;
    padding: 1rem;
    border-radius: 5px;
    background: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    box-shadow: 4px 6px 3px 1px grey;
}

#footer {
    background-color: #747373;
}

#footer>* {
    text-align: center;
    padding: 30px;
    color: white;
    font-weight: bold;
}

#footer ul {
    list-style-type: none;
    display: flex;
    padding: 10px 0;
    justify-content: center;
    gap: 3rem;

}

#footer a {
    text-decoration: none;
    color: inherit;
}

#footer a:hover {
    color: aqua
}